body{
    background-color: #440101;
    color: white;
}


.header{
    display: flex;
    justify-content: center;
    padding-top: 71px;
}

.ml-container{

    display: flex;
    flex-direction: column;
    padding-left: 650px;
    padding-top: 50px;
    width: 150px;
    height: 50px;

}
.labels{

    width: 300px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 10px;
}

.buttons{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
button input[type="submit"]{
    background-color: aqua;
    color: black;
    width: 100px;
    height: 40px;
    border-radius: 20px;
}

button input[type="submit"]:hover{
    color: #2f0000;
    background-color: white;
}

